<div class="form-row">
    <label for="shopSelect" class="form-control-label col-4">Магазин</label>
    <select class="form-control col-8" id="shopSelect" disabled>
        <option selected value={{ shop.id }}>{{ shop.name }}</option>
    </select>
</div>
<div class="form-row">
    <label for="productSelect" class="form-control-label col-4">Товар</label>
    <select class="form-control col-8" id="productSelect" disabled>
        <option selected value={{ product.id }}>{{ product.name }}</option>
    </select>
</div>
<div class="list-group prices-list" role="tablist">
    {% for item in prices %}
    <a class="list-group-item list-group-item-action d-flex justify-content-between" data-toggle="list" href="#" role="tab" id="{{ item.id }}">
        {{ item.price }} ({{ item.date.strftime('%d.%m.%Y') }})
        {% if item.discount %}
            <span class="text-warning"><b>%</b></span>
        {% endif %}
    </a>
    {% endfor %}
</div>