<div class="modal-header">
    <h5 class="modal-title" id="CreateModalLabel">Создание</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="jumbotron bg-transparent">
        <form id="editForm" method="POST">
            {{ form1.hidden_tag() }}
            {{ form1.id() }}

            <div class="form-group row">
                {{ form1.username.label(class_='col-4 col-form-label') }}
                <div class='col-8'>{{ form1.username() }}</div>
            </div>
            <div class="form-group row">
                {{ form1.email.label(class_='col-4 col-form-label') }}
                <div class='col-8'>{{ form1.email() }}</div>
            </div>
            <div class="form-group row">
                {{ form1.role.label(class_='col-4 col-form-label') }}
                <div class='col-8'>{{ form1.role() }}</div>
            </div>
            <button type="button" class="btn btn-success" id="save-btn">Сохранить</button>
        </form>
    </div>
    {% if form2.id.data %}
    <div class="jumbotron">
        <form id="passForm" method="POST">
            {{ form2.hidden_tag() }}
            {{ form2.id() }}

            <div class="form-group row">
                {{ form2.password.label(class_='col-4 col-form-label') }}
                <div class='col-8'>{{ form2.password() }}</div>
            </div>
            <div class="form-group row">
                {{ form2.password2.label(class_='col-4 col-form-label') }}
                <div class='col-8'>{{ form2.password2() }}</div>
            </div>
            <button type="button" class="btn btn-success" id="pass-btn">Сохранить</button>
        </form>
    </div>
    {% endif %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
</div>
<script>
    $('#save-btn').click(function () {
        $.ajax({
            type: "POST",
            url: "{{ url_for('user.save') }}",
            data: $('#editForm').serialize(),
            success: function (data) {
                $('#CreateModal').modal('hide');
                $('#chapter-list .active').click();
                show_message(data.text);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $('#pass-btn').click(function () {
        $.ajax({
            type: "POST",
            url: "{{ url_for('user.change_pass') }}",
            data: $('#passForm').serialize(),
            success: function (data) {
                $('#CreateModal').modal('hide');
                $('#chapter-list .active').click();
                show_message(data.text);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>