{% extends "base.html" %}

{% block content %}
{% include('messages.html') %}
<div class="d-flex justify-content-center">
    <div class="col">
    <form action="{{ url_for('user.register') }}" method="POST" class="form-registration">
        {{ form.hidden_tag() }}
        <div class="h2 mb-3">Регистрация</div>
        <div class="form-group row">
            {{ form.username.label(class_='col-sm-4 col-form-label') }}
            <div class="col-sm-8">
            {{ form.username() }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.email.label(class_='col-sm-4 col-form-label') }}
            <div class="col-sm-8">
                {{ form.email() }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.password.label(class_='col-sm-4 col-form-label') }}
            <div class="col-sm-8">
                {{ form.password() }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.password2.label(class_='col-sm-4 col-form-label') }}
            <div class="col-sm-8">
                {{ form.password2() }}
            </div>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
</div>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-link" href="{{ url_for('user.login') }}">Войти</a>
</div>
{% endblock %}