{% extends "base.html" %}

{% block content %}
{% include "messages.html" %}
<div class="d-flex justify-content-center">
<form action="" method="post" autocomplete="off">
    {{ form.hidden_tag() }}
    <div class="h2">Сброс пароля</div>
    <div class="form-row">
        {{ form.email.label(class_="col-auto col-form-label mr-3") }}
        <div class="col">
            {{ form.email(size=50) }}
        </div>
        {% for error in form.email.errors %}
        <div class="valid-feedback">[{{ error }}]</div>
        {% endfor %}
    </div>
    <div class="form-row mt-2">{{ form.submit() }}</div>
</form>
</div>
{% endblock %}