{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">

<form action="" method="post">
    <div class="h2">Сброс пароля</div>
    {{ form.hidden_tag() }}
    <div class="form-row mb-1">
        {{ form.password.label(class_='col col-form-label mr-3') }}
        <div class='col'>{{ form.password() }}</div>
    </div>
    <div class="form-row mb-1">
        {{ form.password2.label(class_='col col-form-label mr-3') }}
        <div class='col'>{{ form.password2() }}</div>
    </div>
    <div class="form-row mt-2">{{ form.submit() }}</div>
</form>
</div>
{% endblock %}