.lvl-1, .chapter-nav {
    max-height: 84vh;  
    overflow:auto;
}

.jumbotron {
    margin-bottom: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.toast {
    position: relative;
    z-index: 100;
}

.chapter-nav select {
    display: none;
}

@media (max-width: 720px) {
    .chapter-nav .nav {
        display: none;
    }

    .chapter-nav select {
        display: inline-block;
    }
}