body {
    height: 100vh;
}

.container {
    height: 90vh;
}

.jumbotron {
    margin-bottom: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.my-nav select {
    display: none;
}

@media (max-width: 720px) {
    .my-nav .nav {
        display: none;
    }

    .my-nav select {
        display: inline-block;
    }
}