ul.list-group-flush {
    position: relative;
}

li.nav-expand.nav-expand.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-expand-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: 0.3s;
    visibility: hidden;
}

.nav-expand-link {
    display: flex;
    justify-content: space-between;
}

.nav-expand.active>.nav-expand-content {
    transform: translateX(0);
    visibility: visible;
}