.input-group-append button {
    padding: 0rem;
}

.input-group-prepend {
    padding: 0rem;
}

.checkTitle {
    padding: 0rem;
}

.choose-shop {
    padding: 0rem;
}

.form-group {
    margin-right: -15px;
}