{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/purchase.css') }}">
{% endblock %}

{% block content %}
<div class="row justify-content-around mt-2">
    <form method="POST" class="col-8" id="mainForm">
        {{ form.hidden_tag() }}
        <div class="form-group row">
            <div class="col-lg-6 mb-1 d-flex justify-content-start">
                {{ form.date.label(class_='col-auto col-form-label') }}
                <div class='col-auto'>{{ form.date(value=date.strftime('%d.%m.%Y %H:%M'), readonly='') }}</div>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <span class="input-group-prepend checkShop"></span>
                {{ form.shop_id() }}
                {{ form.shop_id.label(class_='col-auto col-form-label shop-name') }}
                <button type="button" class="btn btn-warning choose-shop">
                    <svg class="bi bi-plus" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                    </svg>
                </button>
            </div>
        </div>
        {% for item in form.rows %}
        <div class="form-group">
            <div class="form-row">
                <div class="input-group col-lg-8 mb-1">
                    {{ item.id() }}
                    <div class="input-group-prepend">
                        <span class="input-group-text checkTitle"></span>
                    </div>
                    {{ item.title() }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark collapse-btn" type="button">
                            <svg class="bi bi-caret-down-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="input-group col-lg-4 mb-1">
                    <div class="col-6">{{ item.quantity() }}</div>
                    <div class="col-6">{{ item.total() }}</div>
                </div>
            </div>

            <div class="form-row mt-1">
                <div class="col-lg-8">
                    <div class="collapse" id="priceDetail{{ loop.index }}">
                        <ul class="list-group">
                            <li class="list-group-item d-flex">
                                {{ item.product_name() }}
                                {{ item.product_id() }}
                                <span class="input-group-prepend checkProduct"></span>
                                <div class="flex-grow-1 mr-2 product-name">{{ item.product_id.label() }}</div>
                                <button class="btn btn-warning btn-sm product-name-btn">Выбрать</button>
                            </li>
                            <li class="list-group-item d-flex">
                                {{ item.price_value() }}
                                {{ item.price_id() }}
                                <span class="input-group-prepend checkPrice"></span>
                                <div class="flex-grow-1 mr-2 product-price">{{ item.price_id.label() }}</div>
                                <button class="btn btn-warning btn-sm product-price-btn">Выбрать</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="form-group row d-flex justify-content-end">
            {{ form.total.label(class_='col-auto col-form-label') }}
            <div class='col-auto'>{{ form.total() }}</div>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
</div>

{% include "purchase/add_confirm_model.html" %}
{% endblock %}

{% block script %}
<script>
    {% include "purchase/add_confirm_script.js" %}
</script>
{% endblock %}